@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #3b0069 10.09%, #07000f 99.87%);
  height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: #D9D9D940;
}

.header,
.detail-card {
  background: rgba(51, 0, 83, 0.75);
  backdrop-filter: blur(12.5px);
}

/* Add white border left side of card */
.detail-card{

}

/* active and inactive navigator */
.active{
  color: #ECD8FF;
}
.in-active{
  color: #5C4390;
}

.intro {
  padding-left: 40px;
  padding-top: 20px;
  width: 60%;
}

.intro h1 {
  color: #f4e9ff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.intro p {
  padding-top: 6px;
  color: #c7b7f8;
  font-family: 'Poppins';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
